extends ../layout

block main
  #copy
    .row
      .col-lg-8
        .m-b-2
          div!=md.render(content.copy)
        form(action='https://post.tableflip.io')
          .form-group
            label(for='email-field') Email
            input#email-field.form-control(type='email' name='Email' placeholder='Your email address' required)
          .form-group
            label(for='message-field') Message
            textarea#message-field.form-control(name='Message' placeholder='Please add some information about your company and what we can do to help' rows=5 required)
          .form-group
            button.btn.btn-primary(type='submit') Send
  #copy-sent(style='display:none')
    .text-xs-center!=md.render(content.copySent)
  script.
    (function () {
      var href = window.location.href
      var copy = document.getElementById('copy')
      var copySent = document.getElementById('copy-sent')

      if (href.indexOf('?sent=true') > -1) {
        copy.style.display = 'none'
        copySent.style.display = 'block'
      }
    })()
